# kind: PersistentVolume
# apiVersion: v1
# metadata:
#   name: jenkins
#   labels:
#     type: local
# spec:
#   capacity:
#     storage: 2Gi
#   accessModes:
#     - ReadWriteOnce
#   hostPath:
#     path: "/data/jenkins/"

# ---
# kind: PersistentVolumeClaim
# apiVersion: v1
# metadata:
#   name: jenkins-claim
# spec:
#   accessModes:
#     - ReadWriteOnce
#   resources:
#     requests:
#       storage: 2Gi
# ---
apiVersion: v1
kind: Service
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  ports:
    - port: 8080
      targetPort: 8080
      name: jenkins
  selector:
    app: jenkins
    tier: jenkins
  type: NodePort
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: jenkins
  labels:
    app: jenkins
spec:
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: jenkins
        tier: jenkins
    spec:
      containers:
      - name: jenkins
        image: chadmoon/jenkins-docker-kubectl
        securityContext:
          privileged: true
        ports:
        - containerPort: 8080
          name: jenkins
        volumeMounts:
        - name: jenkins-persistent-storage
          mountPath: /root/.jenkins
        - name: docker
          mountPath: /var/run/docker.sock
        # - name: docker-bin
        #   mountPath: /usr/bin/docker
        # - name: kubectl-bin
        #   mountPath: /usr/bin/kubectl
      # - image: registry:2
      #   name: registry
      #   volumeMounts:
      #   - name: jenkins-persistent-storage
      #     mountPath: /root/.jenkins
      #   - name: docker
      #     mountPath: /var/run/docker.sock
      #   ports:
      #   - containerPort: 5000
      #     name: registry
      # - image: ubuntu:xenial
      #   name: socat
      #   command:
      #     - bash
      #     - -c
      #     - "apt-get update; apt-get install -y socat; socat TCP4-LISTEN:5000,fork,reuseaddr TCP4:registry:5000"
      volumes:
      - name: docker
        hostPath:
          path: /var/run/docker.sock
      # - name: docker-bin
      #   hostPath:
      #     path: /usr/bin/docker
      # - name: kubectl-bin
      #   hostPath:
      #     path: /usr/bin/kubectl
      # - name: jenkins-persistent-storage
      #   persistentVolumeClaim:
      #     claimName: jenkins-claim

---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
 name: jenkins-ingress
spec:
 rules:
   - host: jenkins.127.0.0.1.xip.io
     http:
       paths:
         - path: /
           backend:
             serviceName: jenkins
             servicePort: 8080